<h2>Steps to follow:</h2>
<mat-dialog-content *ngIf="data.one_status">
  <ol>
    <li>Picnic step 1</li>
    <li>Picnic step 2</li>
  </ol>
</mat-dialog-content>

<mat-dialog-content *ngIf="data.two_status">
    <ol>
      <li>Planetarium step 1</li>
      <li>Planetarium step 2</li>
    </ol>
</mat-dialog-content>

<mat-dialog-content *ngIf="data.three_status">
      <ol>
        <li>Hiking step 1</li>
        <li>Hiking step 2</li>
      </ol>
</mat-dialog-content>
<mat-dialog-content *ngIf="data.four_status">
    <ol>
      <li>Sunset step 1</li>
      <li>Sunset step 2</li>
    </ol>
</mat-dialog-content>

<mat-dialog-content *ngIf="data.five_status">
      <ol>
        <li>Restaurant step 1</li>
        <li>Restaurant step 2</li>
      </ol>
</mat-dialog-content>

<mat-dialog-content *ngIf="data.six_status">
        <ol>
          <li>Cooking step 1</li>
          <li>Cooking step 2</li>
        </ol>
</mat-dialog-content>

<mat-dialog-content *ngIf="data.seven_status">
    <ol>
      <li>Golfing step 1</li>
      <li>Golfing step 2</li>
    </ol>
</mat-dialog-content>

<mat-dialog-content *ngIf="data.eight_status">
      <ol>
        <li>Board game step 1</li>
        <li>Board game step 2</li>
      </ol>
</mat-dialog-content>

<mat-dialog-content *ngIf="data.nine_status">
        <ol>
          <li>Arcade step 1</li>
          <li>Arcade step 2</li>
        </ol>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="okay()">Got it!</button>
</mat-dialog-actions>
