<div class="alert alert-info" role ="alert">
  Link to <a [routerLink]="['/spinning-wheel']" routerLinkActive="router-link-active"  class="alert-link">Game 1</a>
</div>
<div class="alert alert-info" role ="alert">
  Link to <a [routerLink]="['/traffic-light']" routerLinkActive="router-link-active"  class="alert-link">Game 2</a>
</div>
<div class="alert alert-info" role ="alert">
  Link to <a [routerLink]="['/slider-game']" routerLinkActive="router-link-active"  class="alert-link">Game 3</a>
</div>
<div class="alert alert-info" role ="alert">
  Link to <a href="https://www.google.com" class="alert-link">Game 4</a>
</div>
